<h5>This is a Website designed for group of friends that want to try new activities/ideas and encourage others to try with them!</h5>
<%= link_to 'About',welcome_about_path %>
<%= image_tag 'Estonian_forest_reasons_to_visit_Sven_Zacek.png' %>


